<!doctype html>
<html class="has-navbar-fixed-top">
  <head>
    {% block head %}
    <script
      src="http://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous">
    </script>
    <meta charset="utf-8">
    <title>Stellite Faucet - Free Cryptocurrency</title>
    <meta name="description" content="Stellite is the first cryptocurrency to link IPFS and ZeroNet with blockchain. This faucet gives them for free"/>
    <meta name="keywords" content="Crypto, Stellite, XTL, Faucet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    {% endblock %}
  </head>
  <body>
    {% block header %}
    <nav class="navbar is-dark is-fixed-top" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="http://faucet.stellite.fun">
          <img src="{{ url_for('static', filename='img/stellite-logo-full-white.png') }}">
        </a>
      </div>
      <button class="button navbar-burger is-dark" data-target="navMenu">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <div class="navbar-menu" id="navMenu">
        <div class="navbar-end">
          <div class="dropdown">
          <button class="dropbtn">Social
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="https://bitcointalk.org/index.php?topic=2813261.0">Bitcointalk</a>
            <a href="https://www.reddit.com/r/stellite/">Reddit</a>
            <a href="https://www.facebook.com/stellitecash/">Facebook</a>
            <a href="https://twitter.com/stellitecash">Twitter</a>
            <a href="https://t.me/Stellite_EN">Telegram</a>
            <a href="https://discord.gg/QfCWRfx">Discord</a>
            <a href="https://steemit.com/@stellite">Steem</a>
          </div>
          </div> 
          <button class="dropbtn">Source Code
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="https://github.com/stellitecoin">Stellite</a>
            <a href="https://github.com/nizarlazuardy/stellite-faucet">Faucet</a>
          </a>
          <a class="navbar-item" href="/transfers" id="transfer_nav">
            Recent Transfers
          </a>
        </div>
      </div>
    </nav>
    {% endblock %}
    <div id="particles-js"></div>
    <div id="pagecontent">
      {% block content %}{% endblock %}
    </div>
    {% block js %}
    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
    <script src="{{ url_for('static', filename='js/parts.js') }}"></script>
    {% endblock %}

    <!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KQ7XX75" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
  </body>
</html>